{{- $email := promptString "email" -}}
{{- $location := promptString "location? (home|work|other)" "home" -}}
{{- $profile := promptString "profile? (basic|full)" "basic" -}}
encryption = "gpg"

[data]
    email = "{{ $email }}"
    location = "{{ $location }}"
    profile = "{{ $profile }}"

[secret]
    command = "1pass"

[gpg]
    args = ["-q"]
    recipient = "{{ $email }}"

