{{- $email := promptString "email" -}}
{{- $location := promptString "location? (home|work|other)" "home" -}}
{{- $profile := promptString "profile? (basic|full)" "basic" -}}
[data]
    email = "{{ $email }}"
    location = "{{ $location }}"
    profile = "{{ $profile }}"

[secret]
    command = "1pass"

encryption = "gpg"
[gpg]
    recipient = "{{ $email }}"

