[user]
	name = David Creemer
	email = {{ .email }}
	useConfigOnly = true
{{- if eq .location "home" }}
	signingkey = 091A092EBC4FA5B9
{{- end }}

[color]
	diff = auto
	status = auto
	branch = auto

[push]
	default = nothing

[gpg]
	program = gpg

{{ if eq .location "home" -}}
[commit]
	gpgsign = true
{{- end }}

[credential "https://gitlab.com"]
	username = dcreemer

[github]
	user = dcreemer

[pull]
	rebase = false

[init]
	defaultBranch = main
