[user]
	name = David Creemer
	email = {{ .email }}
	useConfigOnly = true
{{- if eq .location "home" }}
	signingkey = {{ secret "-p" "gpg-key-id" }}
{{- end }}

[color]
	diff = auto
	status = auto
	branch = auto

[push]
	default = nothing

[gpg]
	program = gpg

{{ if eq .location "home" -}}
[commit]
	gpgsign = true
{{- end }}

[credential "https://gitlab.com"]
	username = dcreemer

[github]
	user = dcreemer

[pull]
	rebase = false
