{{ if eq .chezmoi.os "darwin" -}}

#!/bin/sh

brew install bash
brew install bash-completion@2
brew install direnv
brew install git
brew install gnupg
brew install wget
brew install --cask appcleaner

{{ if eq .profile "full" -}}
brew install bat
brew install expect
brew install fzf
brew install jq
brew install pyenv
brew install ripgrep
brew install shellcheck
brew install topgrade
brew install tree

brew install --cask 1password-cli
brew install --cask alfred
brew install --cask firefox
brew install --cask google-chrome
brew install --cask hammerspoon
brew install --cask soundsource
brew install --cask visual-studio-code

brew tap homebrew/cask-fonts
brew install --cask font-bitstream-vera

{{ if eq .location "home" -}}
brew install rustup-init
brew install rust-analyzer

brew install --cask calibre
brew install --cask onedrive
brew install --cask roon
brew install --cask signal
brew install --cask zoom
{{ end -}}

{{ if eq .location "work" -}}
brew install --cask charles
brew install --cask dbeaver-enterprise
{{ end -}}

{{ end -}}

{{ end -}}
