{{- $useHack := and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "polaris") -}}
# theme = "Builtin Light"
theme = "Modus Vivendi"
font-family = "{{ if $useHack }}Hack{{ else }}SF Mono Terminal Regular{{ end }}"
font-thicken = true
font-thicken-strength = 20
# font-feature = -calt
# font-feature = -liga
# font-feature = -dlig
font-size = {{ if $useHack }}10.5{{ else }}13{{ end }}
minimum-contrast = 2.1
cursor-style = block
cursor-style-blink = false
shell-integration-features = no-cursor,sudo,title,ssh-env,ssh-terminfo,path
window-padding-x = 10
# background = FCF4A7
keybind = page_up=scroll_page_up
keybind = page_down=scroll_page_down
keybind = home=scroll_to_top
keybind = end=scroll_to_bottom
